body {
    font-family: 'Gabarito', cursive;
    color: white;
    background-image: url('public/vegetables.jpg');
    background-repeat: no-repeat;
    min-width: 1000px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-bottom: 2px solid white;
    line-height: 0px;
    margin: 0px 40px;
    font-size: 22px;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style-type: none;
    padding-left: 20px;
}
nav a {
    text-decoration: none;
    color: white;
}
#mainBackground {
    height: 100%;
    width: 100%;
    text-align: center;
}
#textContainer {
    padding-top: 300px;
    padding-bottom: 300px;
}
.mainHead {
    display: inline;
    border-bottom: 2px solid white;
    font-size: 100px;
    padding: 0px 70px;  
}
.secondHead {
    font-family: 'Open Sans', sans-serif;
}
#breadParent {
    background-color: black;
    height: 400px;
    position: relative; 
    margin: 0 -10px;
}
#bread {
    float: left;
}
#bread img, #pasta img {
    margin-right: 70px;
}
#pineapple img {
    margin-left: 70px;
}
#pineappleParent {
    background-color: rgb(38, 38, 38);
    height: 500px;
    position: relative;
    margin: 0 -10px;
} 
#pineapple {
    float: right;
}
#pastaParent {
    background-color: rgb(63, 63, 63);
    height: 400px;
    position: relative;
    margin: 0 -10px;
}
#pasta {
    float: left
}
#cardText {
    font-family: 'Open Sans', sans-serif;
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 70px;
}